# Git
.gitignore
.github/

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
dev.tfvars
terraform-state-lock/
Infra/

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv

# Terraform plans
terraform-plan-stage1.yml
terraform-plan-stage2.yml

# Documentation
README.md

# Screenshots
*.png

# Enviroment 
.env

